<!DOCTYPE html>
<html>

<head>

    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link rel="stylesheet" href="static/menu_style.css" />


    <script src="static/raphael-2.1.4.min.js"></script>
    <script src="static/justgage.js"></script>

</head>

<body>


    <!------------------------------- Menu Bar ------------------------------->

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
        <div class="mdl-layout__drawer">

            <header class="mdl-layout__header">
                <span class="mdl-layout-title">Taris V1</span>
            </header>
            <nav class="mdl-navigation mdl-layout--fixed-drawer mdl-layout-spacer">
                <div class="mdl-layout-spacer">

                    <a class="mdl-navigation__link current_tab" href="/"><i class="material-icons" role="presentation">build</i> Home</a>
                    <a class="mdl-navigation__link" href="/plots"><i class="mdl-color-text--400 material-icons" role="presentation">assessment</i> Graphs</a>
                    <a class="mdl-navigation__link" href="/params"><i class="mdl-color-text--400 material-icons" role="presentation">settings</i> Parameters</a>
                    <a class="mdl-navigation__link" href="/dataHistory"><i class="mdl-color-text--400 material-icons" role="presentation">assessment</i> Data History</a>

                </div>

                <div class="mdl-layout-spacer"></div>


                <a class="mdl-navigation__link" href="https://igem.soe.ucsc.edu/"><i class="mdl-color-text--400 material-icons" role="presentation">info_outline</i> About</a>

                <a class="mdl-navigation__link" href="/console"><i class="mdl-color-text--400 material-icons" role="presentation">personal_video</i> Console</a>

            </nav>
        </div>

        <!------------------------- Main Content !--------------------------------->

        <main class="mdl-layout__content">

            <div class="mdl-layout__header-row"></div>

            <div class="mdl-grid content-grid ">



                <!-------- pH and temp -------------->


                <div class="mdl-cell mdl-shadow--2dp">

                    <div id="pH_gauge" class="gauge_sensor"></div>

                </div>


                <div class="mdl-cell mdl-shadow--2dp">

                    <div id="temp_gauge" class="gauge_sensor"></div>

                </div>

            </div>


            <!------- Motors ---------------->


            <div class="mdl-grid">

                <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp">

                    <div id="inflow" class="gauge_motor"></div>

                </div>


                <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp">

                    <div id="motor2" class="gauge_motor"></div>

                </div>


                <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp">

                    <div id="motor3" class="gauge_motor"></div>

                </div>


                <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp">

                    <div id="motor4" class="gauge_motor"></div>

                </div>

            </div>


            <!---------- UI to start bioreactor and other cool stuff --------->

            <div class="mdl-grid" style="margin-top: 75px">

                <div class="mdl-cell" style="background: #FFFFFF">
                    <button id="start-button" class="mdl-button mdl-js-button mdl-button--raised" type="button">Start Bioreactor</button>

                    <div id="notify-start" class="mdl-js-snackbar mdl-snackbar">
                        <div class="mdl-snackbar__text"></div>
                        <button class="mdl-snackbar__action" type="button"></button>
                    </div>
                    <script>
                        (function() {

                            'use strict';
                            var snackbarContainer = document.querySelector('#notify-start');
                            var startButton = document.querySelector('#start-button');

                            startButton.style.backgroundColor = "#FAFAFA";
                            startButton.addEventListener('click', function() {
                                'use strict';
                                var messageData = "";
                                if (startButton.style.backgroundColor == "rgb(67, 160, 71)") {
                                    startButton.style.backgroundColor = "#FAFAFA";
                                    startButton.textContent = "START BIOREACTOR";
                                    messageData = "Bioreactor stopped";
                                } else {
                                    startButton.style.backgroundColor = "#43A047";
                                    startButton.textContent = "STOP BIOREACTOR";
                                    messageData = "Bioreactor started";
                                }
                                
                                var data = {
                                    message: messageData,
                                    timeout: 2000,
                                };
                                snackbarContainer.MaterialSnackbar.showSnackbar(data);
                            });
                        }());

                    </script>
                </div>
            </div>







        </main>

</body>

<!------ Scripts for gauges ------------------>

<script>
    var g5 = new JustGage({
        id: "pH_gauge",
        value: {{ph}},
        min: 0,
        max: 14,
        title: "pH",
        label: "Desired: {{setPH}}",
        levelColorsGradient: true,
        decimals: 2
    });

    var g5 = new JustGage({
        id: "temp_gauge",
        value: {{temp}},
        min: 0,
        max: 100,
        title: "Temperature °C",
        label: "Desired: {{setTemp}}",
        levelColorsGradient: true,
        decimals: 2
    });

    var g5 = new JustGage({
        id: "inflow",
        value: {{inflowPWM}},
        min: 0,
        max: 1,
        title: "Inflow PWM",
        levelColorsGradient: true,
        decimals: 2,
    });

    var g5 = new JustGage({
        id: "motor2",
        value: {{outflowPWM}},
        min: 0,
        max: 1,
        title: "Outflow PWM",
        levelColorsGradient: true,
        decimals: 2,
    });

    var g5 = new JustGage({
        id: "motor3",
        value: {{basePWM}},
        min: 0,
        max: 1,
        title: "NaOH Pump PWM",
        levelColorsGradient: true,
        decimals: 2,
    });

    var g5 = new JustGage({
        id: "motor4",
        value: {{filtermLs}},
        min: 0,
        max: 100,
        title: "Filter Pump mL/min",
        levelColorsGradient: true,
        decimals: 2,
    });

</script>

<!-------------------------------------------->

</html>
