<!DOCTYPE html>
<html>

<head>

    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link rel="stylesheet" href="static/menu_style.css" />

    <meta charset="utf-8">

        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css" />

        <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
        <script type="text/javascript">
        Bokeh.set_log_level("info");
        </script>

    <style>
        .mdl-layout__tab {
            color: white;
        }
        
        .mdl-layout.is-upgraded .mdl-layout__tab.is-active {
            color: #338DFF;
        }
        
        .mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
            background: #338DFF;
        }
        
        .mdl-layout__tab-bar,
        .mdl-layout__tab-bar-button {
            background: #616161;
        }


    </style>


</head>

<body>


    <!------------------------------- Menu Bar ------------------------------->

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
        <div class="mdl-layout__drawer">


            <header class="mdl-layout__header">
                <span class="mdl-layout-title">Taris V1</span>
            </header>
            <nav class="mdl-navigation mdl-layout--fixed-drawer mdl-layout-spacer">
                <div class="mdl-layout-spacer">
                    <a class="mdl-navigation__link" href="/"><i class="material-icons" role="presentation">build</i> Home</a>
                    <a class="mdl-navigation__link current_tab" href="/plots"><i class="material-icons" role="presentation">assessment</i> Graphs </a>
                    <a class="mdl-navigation__link" href="/params"><i class="mdl-color-text--400 material-icons" role="presentation">settings</i> Parameters</a>
                </div>

                <div class="mdl-layout-spacer"></div>


                <a class="mdl-navigation__link" href="https://igem.soe.ucsc.edu/"><i class="mdl-color-text--400 material-icons" role="presentation">info_outline</i> About</a>

                <a class="mdl-navigation__link" href="/console"><i class="mdl-color-text--400 material-icons" role="presentation">personal_video</i> Console</a>

            </nav>
        </div>


        <!------------------------------- Main Content ------------------------------->



        <main class="mdl-layout__content">


            <!-- Simple header with scrollable tabs. -->
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                <header class="mdl-layout__header">
                    <!-- Tabs -->
                    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                        <a href="/plots" class="mdl-layout__tab is-active">All</a>
                        <a href="/plotsPH" class="mdl-layout__tab">pH</a>
                        <a href="/plotsTemp" class="mdl-layout__tab">Temperature</a>
                        <a href="/plotsMotors" class="mdl-layout__tab">Motors</a>
                    </div>
                </header>



                <main class="mdl-layout__content">
                    <section class="mdl-layout__tab-panel is-active" id="/plots">
                        <div class="page-content">
                            <script   src="https://code.jquery.com/jquery-3.1.0.min.js"
                                  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
                                  crossorigin="anonymous"></script>

                            To view a specific history complete the information below:
                            <br>
                            Date & Time Start<input type="text" id="start" placeholder= "mm/dd/yy hh:mm:ss (Military Time)" >
                            <br>
                            Date & Time End<input type="text" id="end" placeholder= "mm/dd/yy hh:mm:ss (Military Time)" >
                            <br>
                            <button id="set">Get Graph Between Time Range Specified</button>
                            <button id ="defaultGraph">Reset to last five minutes</button>

                            <!-----------------ajax test call to set parameters---------------->
                            <script>
                            $("#set").click(function(){
                                $.ajax({
                                  url: "plotChange",
                                  method: "POST",
                                  data: {start: $("#start").val(), end:$("#end").val(), type: "all"},
                                  success: function(result){
                                      if(result == "success"){
                                          location.reload();
                                      }
                                  }
                                });
                            });
                            </script>
                            <!-----------------ajax test call to set parameters---------------->
                            <script>
                            $("#defaultGraph").click(function(){
                                $.ajax({
                                  url: "defaultGraph",
                                  method: "POST",
                                  data: {type: "all"},
                                  success: function(result){
                                      if(result == "success"){
                                          location.reload();
                                      }
                                  }
                                });
                            });
                            </script>
                            {{pHScript | safe}}
                            {{pHDiv | safe}}
                            <br>
                            {{tempScript | safe}}
                            {{tempDiv | safe}}
                            <br>
                            {{inFlowScript|safe}}
                            {{inFlowDiv|safe}}
                            <br>
                            {{outFlowScript|safe}}
                            {{outFlowDiv|safe}}
                            <br>
                            {{naohScript|safe}}
                            {{naohDiv|safe}}
                            <br>
                            {{filterScript|safe}}
                            {{filterDiv|safe}}
                            <!-- Your content goes here -->


                        </div>
                    </section>

                    <section class="mdl-layout__tab-panel" id="/plotsPH">
                        <div class="page-content">


                        </div>
                    </section>

                    <section class="mdl-layout__tab-panel" id="/plotsTemp">
                        <div class="page-content">
                            <!-- Your content goes here -->


                        </div>
                    </section>

                    <section class="mdl-layout__tab-panel" id="/plotsMotors">
                        <div class="page-content">
                            <!-- Your content goes here -->


                        </div>
                    </section>

                    <section class="mdl-layout__tab-panel" id="/plotsHeater">
                        <div class="page-content">
                            <!-- Your content goes here -->


                        </div>
                    </section>

                </main>
            </div>







        </main>




        </main>
    </div>

</body>

</html>
