
<!DOCTYPE html>
<html>

<head>

    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link rel="stylesheet" href="static/menu_style.css" />

</head>

<body>


    <!------------------------------- Menu Bar ------------------------------->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
        <div class="mdl-layout__drawer">
            <header class="mdl-layout__header">
                <span class="mdl-layout-title">Taris V1</span>
            </header>
            <nav class="mdl-navigation mdl-layout--fixed-drawer mdl-layout-spacer">
                <div class="mdl-layout-spacer">
                    <a class="mdl-navigation__link" href="/"><i class="material-icons" role="presentation">build</i> Home</a>
                    <a class="mdl-navigation__link" href="/plots"><i class="material-icons" role="presentation">assessment</i> History</a>
                    <a class="mdl-navigation__link current_tab" href="/params"><i class="material-icons" role="presentation">settings</i> Parameters</a>
                </div>
                <div class="mdl-layout-spacer"></div>
                <a class="mdl-navigation__link" href="https://igem.soe.ucsc.edu/"><i class="mdl-color-text--400 material-icons" role="presentation">info_outline</i> About</a>
                <a class="mdl-navigation__link" href="/console"><i class="mdl-color-text--400 material-icons" role="presentation">personal_video</i> Console</a>
            </nav>
        </div>
        <!------------------------- pH and Temp --------------------------------->
        <main class="mdl-layout__content">
            <header class="mdl-layout__header">
            </header>
            <div class="mdl-layout__header-row"></div>
            <!-- Input textfields ------>

                <script   src="https://code.jquery.com/jquery-3.1.0.min.js"
                          integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
                          crossorigin="anonymous"></script>

                <br>
                Set pH to<input type="text" id="pH" placeholder = {{setPH}} ></input>
                <br>
                Set temp to<input type="text" id="temp" placeholder={{loadTemp}} ></input>
                <br>
                Hold for H:M<input type="text" id="timeHoldFor">Defult: Infinite</input>
                <br>
                Who are you<input type="text" id="user" placeholder = 'Jane Doe' ></input>
                <br>
                Enter Passcode <input type="text" id="pass"></input>
                <br>


                <button id="set">Set pH/temp hold protocol</button>

                <!-----------------ajax test call to set parameters---------------->
                <script>
                $("#set").click(function(){
                    $.ajax({
                      url: "setProtocol",
                      method: "POST",
                      data: {pH: $("#pH").val(), temp: $("#temp").val(), timeHoldFor:$("#timeHoldFor").val(), pass:$("#pass").val(), user:$("#user").val()},
                      success: function(result){}
                    });
                });
                </script>

            <div class="mdl-layout__header-row"></div>

            <div class="mdl-grid mdl-shadow--2dp" style="max-width: 50%">

                <div class="mdl-cell" style="background: #FFFFFF">

                    <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="icon-toggle-1">
                    <input type="checkbox" id="icon-toggle-1" class="mdl-icon-toggle__input">
                    <i class="mdl-icon-toggle__label material-icons">portable_wifi_off</i><span style="padding-bottom:10px">Motor shutoff</span>
                    </label>
                </div>

            </div>

        </main>
</body>

</html>
Contact GitHub API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Status Help
